include ./jade/_header.php

doctype html
head
	base(href='./')
	meta(charset='utf-8')
	meta(http-equiv='x-ua-compatible', content='ie=edge')
	meta(name='description', content='#{description}')
	meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

	title
		- echo $title

	//- Facebook OGP
	meta(property='og:site_name' content='<?= $title ?>')
	meta(property='og:title' content='<?= $page_title ?>')
	meta(property='og:description' content='<?= $description ?>')
	meta(property='og:image' content='<?= $thumb_url ?>')
	meta(property='og:type' content='website')
	meta(property='og:url' content='<?= $url ?>')

	//- Twitter Card
	meta(name='twitter:card' content='photo')
	meta(name='twitter:site' content='_baku89')
	meta(name='twitter:title' content='<?= $page_title ?>')
	meta(name='twitter:description' content='<?= $description ?>')
	meta(name='twitter:image' content='<?= $thumb_url ?>')
	meta(name='twitter:url' content='<?= $url ?>')

	//- CSS
	link(href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css')
	link(rel="stylesheet" type="text/css" href="/style.css")

	include ./jade/_ga.jade

body()

	.app

		canvas#canvas.is-hidden
			.test UncoUnco

		.loading

		//- button.palette-arrow.prev
		.palette
		//- button.palette-arrow.next

		.layer.layer--menu-darken
		nav.menu
			.menu__btn
				.l.l1
				.l.l2
				.l.l3

			ul.menu__lists
				li: a.menu__clear Clear
				li: a.menu__share Share
				li: a.menu__gallery Gallery
				li: a.menu__help ?

		

		section.help.layer.layer--help
			.help__container
				h2 Fuse
				
				p.
					This demo simulates burning fuses and exploding bombs using a method of a sort of cellular automaton(CA). Click and drag to draw a line. Select parettes on top to change brush type(<span class="fuse">fuse</span>, <span class="bomb">bomb</span>, <span class="fire">fire</span>, <span class="wall">wall</span>, <span class="ersr">eraser</span> respectively from left to right). The CA program is mainly written in GLSL.
				
				h3.help__shortcut Shortcuts
				
				p.help__shortcut-list.
					[1-5]: Change <span class="fuse">B</span><span class="bomb">r</span><span class="fire">u</span><span class="wall">s</span><span class="ersr">h</span><br>
					[↑↓ or right drag]: Change brush size<br>
					[space]: Toggle pause<br>
					[c]: Clear<br>
					[s]: Share<br>
					[g]: Gallery<br>
				
				p.help__credit.
					created by <a href="http://baku89.com" target="_blank">baku</a>
			

		section.paused.layer.layer--paused
			.paused__message &gt; Click to Resume &lt;

		section.share.layer.layer--share

			.alert(v-bind:class="{'show': show}")

				.alert__wrapper--succeed(v-show="result == 'succeed'")
					.alert__content.alert--succeed__content
						input.alert__share-url(type="text" value="{{url}}")
						.alert__tweet
							a.alert__tweet-link Tweet
					.alert__choices
						button.alert__btn(v-on:click.stop='showGallery()') See Others..
						button.alert__btn(v-on:click='resume()') Resume

				.alert__wrapper--failed(v-show="result == 'failed'")
					.alert__content.alert--failed__content {{message}}
					.alert__choices
						button.alert__btn(v-on:click='resume()') Resume


			//- .is-passthru.share-frame.share-frame--top
			//- .is-passthru.share-frame.share-frame--right
			//- .is-passthru.share-frame.share-frame--bottom
			//- .is-passthru.share-frame.share-frame--left
					

		section.gallery.layer.layer--gallery(
			v-infinite-scroll='loadMore()'
			infinite-scroll-disabled='busy'
			infinite-scroll-distance='10')

			ul.gallery__list

				li.gallery-item(v-for='item in items' v-on:click.stop='loadMap($event, item)')
					.gallery-item__wrapper
						.gallery-item__id {{item.id}}
						img.gallery-item__thumb(v-bind:src='item.thumb' src='')

			//- ul.gallery__list
			//- ul.layer--gallery__list.is-passthru
			//- .loading.layer--gallery__loading

	//- JS
	script(type="text/javascript").
		<? if (!is_null($id)) : ?>
			window.initialMap = {
				type: '<?= $type ?>',
				id: <?= $id ?>,
				map: '<?= $map_url ?>'
			}
		<? endif ?>
		
	script(type="text/javascript" src="/bootstrap.js")

