doctype html
head
	base(href='./')
	meta(charset='utf-8')
	meta(http-equiv='x-ua-compatible', content='ie=edge')
	meta(name='description', content='#{description}')
	meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

	title
		- echo $title

	//- Facebook OGP
	meta(property='og:site_name' content='<?= $title ?>')
	meta(property='og:title' content='<?= $page_title ?>')
	meta(property='og:description' content='<?= $description ?>')
	meta(property='og:image' content='<?= $thumb ?>')
	meta(property='og:type' content='website')
	meta(property='og:url' content='<?= $url ?>')

	//- Twitter Card
	meta(name='twitter:card' content='photo')
	meta(name='twitter:site' content='_baku89')
	meta(name='twitter:title' content='<?= $page_title ?>')
	meta(name='twitter:description' content='<?= $description ?>')
	meta(name='twitter:image' content='<?= $thumb ?>')
	meta(name='twitter:url' content='<?= $url ?>')

	//- CSS
	link(href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css')
	link(rel="stylesheet" type="text/css" href="/style.css")

	include ./jade/_ga.jade

body()

	.app

		section.home.layer.layer--home
			ul.home__type-list
				li.home__type-item(v-for='system in systems' v-on:click.stop='changeType($event, system.type)')
					.home__type-label {{system.title}}
					ul.home__type-palette
						li.home__type-brush(v-for='type in system.brushes.order' v-bind:style='{background: system.brushes.list[type].color}')


		.canvas
			canvas#canvas.is-hidden
			.canvas__paused Click here to resume

		.loading

		.palette(v-cloak='')
			button.brush(
				v-for='type in brushes.order'
				:class="{'active': brushes.active == type}"
				v-on:click='changeType(type)'
				:style='{background: brushes.list[type].color}')

		.layer.layer--menu-darken
		nav.menu
			.menu__btn
				.l.l1
				.l.l2
				.l.l3

			ul.menu__lists
				li: a.menu__change Change
				li: a.menu__share Share
				li: a.menu__gallery Gallery
				li: a.menu__clear  X 
				li: a.menu__help ?

		

		section.help.layer.layer--help
			.help__container
				h2 {{system.name}}
				
				p {{{htmlHelp}}}
				
				h3.help__shortcut Shortcuts
				
				p.help__shortcut-list.help__shortcut-list--pc.
					[1-9]: Change Brush<br>
					[↑↓ or right drag]: Change brush size<br>
					[space]: Toggle pause<br>
					[c]: Clear<br>
					[s]: Share<br>
					[g]: Gallery<br>

				p.help__shortcut-list.help__shortcut-list--mobile.
					[pinch]: Change brush size<br>
					[shake]: Clear<br>
					[3-finger tap]: Toggle pause<br>
				
				p.help__credit.
					created by <a href="http://baku89.com" target="_blank">baku</a>

		section.share.layer.layer--share

			.alert(v-bind:class="{'show': show}" v-on:click.stop='')

				.alert__wrapper--succeed(v-show="status == 'succeed'")
					.alert__content.alert--succeed__content
						input.alert__share-url(type="text" value="{{url}}")
						.alert__tweet
							a.alert__tweet-link(v-on:click='tweet()') Tweet
					.alert__choices
						button.alert__btn(v-on:click='showGallery()') See Others..
						button.alert__btn(v-on:click='resume()') Resume

				.alert__wrapper--failed(v-show="status == 'failed'")
					.alert__content.alert--failed__content {{message}}
					.alert__choices
						button.alert__btn(v-on:click='resume()') Resume
					

		section.gallery.layer.layer--gallery(
			v-infinite-scroll='loadMore()'
			infinite-scroll-disabled='busy'
			infinite-scroll-distance='10')

			ul.gallery__list

				li.gallery-item(v-for='item in items' v-on:click.stop='loadMap($event, item)')
					.gallery-item__wrapper
						.gallery-item__id {{item.id}}
						img.gallery-item__thumb(v-bind:src='item.thumb' src='')

	//- JS
	script(type="text/javascript").
		window.initialState = {};

		<? if (!is_null($type)) : ?>
			window.initialState.type = '<?= $type ?>';
		<? endif; ?>

		<? if (!is_null($id)) : ?>
			window.initialState.id = <?= $id ?>;
			window.initialState.map = '<?= $map ?>';
		<? endif; ?>
		
	script(type="text/javascript" src="/js/bootstrap.js")

